.Container{
    text-align: center;
    margin-top: 20%;
}
.Btn{
    margin-right: 20px;
    background-color: green;
    color: #fff;
    border-width: 0px;
    border-radius: 15px;
    padding: 5px;
    width: 90px;
}
.decrement{
    background-color: red;
}
.heading{
    color: rebeccapurple;
}
.count{
    color: darkblue;
    font-size: 50px;
}